# NOTEBOOK FOR TESTING

In [1]:
import os
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
pd.set_option("display.max_rows",None)

In [2]:
os.listdir()

['__pycache__',
 'venv',
 'tests',
 '.git',
 'main.py',
 '__init__.py',
 '.gitignore',
 'budget',
 '.env',
 'data',
 'Vars.py',
 'Taxonomy',
 'Utils',
 'schema',
 '.ipynb_checkpoints',
 'draft.ipynb']

In [5]:
camp= pd.read_csv("data/savedData/datacleaned.csv")
budg= pd.read_csv("data/Budget_Pacing.csv")
for i, col in enumerate(camp.columns):
    print(i, repr(col))

0 'Date'
1 'Campaign_Name'
2 'Impressions'
3 'Clicks'
4 'Conversions'
5 'Spend_USD'
6 'Company'
7 'BusinessUnit'
8 'Objective'
9 'Market'
10 'Language'
11 'Audience'
12 'Channel'
13 'Month'
14 'Route'
15 'Validity'
16 'Planned_Daily_Budget_USD'
17 'Pacing_Percent'
18 'CPA'

/tmp/ipykernel_704743/2432285669.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  budg= pd.read_csv("data/Budget_Pacing.csv")

In [107]:
camp.columns = camp.columns.str.strip().str.replace(' ', '_')
budg.columns = budg.columns.str.strip().str.replace(' ', '_')

camp['Route'] = camp['Route'].astype(str).replace({'nan': 'NA', 'None': 'NA'}).fillna('NA')
budg['Route'] = budg['Route'].astype(str).replace({'nan': 'NA', 'None': 'NA'}).fillna('NA')

camp['Date'] = pd.to_datetime(camp['Date']).dt.date
budg['Date'] = pd.to_datetime(budg['Date']).dt.date

key_cols = ['BusinessUnit', 'Objective', 'Market', 'Language', 'Audience', 'Channel', 'Month', 'Route', 'Date']

budg = budg.sort_values(['Date', 'Planned_Daily_Budget_USD'], ascending=[True, False])
budg = budg.drop_duplicates(subset=key_cols, keep='first')

joined = camp.merge(
    budg[key_cols + ['Planned_Daily_Budget_USD']],
    on=key_cols,
    how='left',
    validate='many_to_one'
)

joined['Pacing_%'] = joined['Spend_USD'] / joined['Planned_Daily_Budget_USD'] * 100

issues = joined[
    joined['Planned_Daily_Budget_USD'].isna() |
    (joined['Planned_Daily_Budget_USD'] == 0) |
    (joined['Pacing_%'] > 200)
]

print(f"All rows      : {len(joined):,}")
print(f"Issue rows    : {len(issues):,}")
print(issues[['Date','Route','Spend_USD','Planned_Daily_Budget_USD','Pacing_%']]
      .head(10)
      .to_string(index=False))

KeyError: 'Planned_Daily_Budget_USD'

In [68]:
df= df.sort_values(by="Date")

In [69]:
df.head()

,Date,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,Pacing_Percent,CPA
3630,2023-02-01,AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA,6275,785,50,904.98,YouTube,Intl,Brand,UAE,AR,Business,Video,Feb,NaN,True,398.05,227.353348,18.099600
13503,2023-02-01,AN_Intl_Brand_KSA_EN_Leisure_Display_Feb_NA,43847,4599,154,1613.12,YouTube,Intl,Brand,KSA,EN,Leisure,Display,Feb,NaN,True,72.38,2228.681956,10.474805
4376,2023-02-01,AN_Domestic_Loyalty_QAT_AR_Leisure_Display_Feb_NA,10991,1047,84,514.94,TikTok,Domestic,Loyalty,QAT,AR,Leisure,Display,Feb,NaN,True,485.45,106.074776,6.130238
19693,2023-02-01,AN_Intl_Brand_KSA_EN_Leisure_Display_Feb_NA,12908,523,50,115.88,Meta,Intl,Brand,KSA,EN,Leisure,Display,Feb,NaN,True,72.38,160.099475,2.317600
40076,2023-02-01,AN_Domestic_Loyalty_KSA_AR_Business_Video_Feb_NA,42411,5106,341,3450.19,Snapchat,Domestic,Loyalty,KSA,AR,Business,Video,Feb,NaN,True,153.37,2249.585969,10.117859

In [56]:
bad

,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Original
0,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
1,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
2,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
3,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
4,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
...,...,...,...,...,...,...,...,...,...
7305,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7306,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7307,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7308,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7309,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI