# NOTEBOOK FOR TESTING

In [81]:
import os
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
pd.set_option("display.max_rows",50)

In [82]:
os.listdir("data")

['DV360_AlNajm.csv',
 'TikTok_Ads_AlNajm.csv',
 'Snapchat_Ads_AlNajm.csv',
 'Budget_Pacing.csv',
 'YouTube_Ads_AlNajm.csv',
 'Meta_Ads_AlNajm.csv',
 'Google_Ads_AlNajm.csv']

In [83]:
df= pd.read_csv("data/DV360_AlNajm.csv")
df.head()

,Date,Campaign_Name,Platform,Impressions,Clicks,Conversions,Spend_USD
0,2023-02-01,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,DV360,28143,3807,138,2624.99
1,2023-02-02,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,DV360,49638,5908,324,6309.40
2,2023-02-03,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,DV360,23459,2340,185,2021.46
3,2023-02-04,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,DV360,11104,356,20,517.01
4,2023-02-05,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,DV360,14296,2017,119,2453.88

In [84]:
rows,cols= df.shape
print(f"# of rows: {rows}\n# of columns: {cols}")

# of rows: 7310
# of columns: 7

In [86]:
print(df["Campaign_Name"].unique())

['AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA'
 'AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED'
 'AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_DXB-JED'
 'AN_Intl_Booking_KSA_EN_Expats_Display_Jan_DXB-JED'
 'AN_Intl_Booking_UAE_EN_Expats_Display_Jan_CAI-DMM'
 'AN_Intl_Brand_EGY_EN_Expats_Search_Jan_NA'
 'AN_Domestic_Loyalty_KSA_EN_Expats_Social_Feb_NA'
 'AN_Intl_Brand_UAE_EN_Expats_Display_Jan_NA'
 'AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA'
 'AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA']

In [80]:
import pandas as pd

count = df[df["Campaign_Name"].str.startswith("FA")].shape[0]
print("Number of rows starting with 'AN':", count)

Number of rows starting with 'AN': 0

In [56]:
bad

,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Original
0,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
1,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
2,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
3,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
4,Intl,Brand,UAE,AR,Leisure,Search,Jan,NA,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA
...,...,...,...,...,...,...,...,...,...
7305,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7306,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7307,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7308,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI
7309,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI