# NOTEBOOK FOR TESTING/DRAFTING

In [54]:
import os
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import glob
pd.set_option("display.max_rows",50)

In [105]:
folder_path= "data/adsData"
file_list = glob.glob(f"{folder_path}/*_AlNajm.csv")

df = pd.concat([pd.read_csv(file) for file in file_list], ignore_index=True)

print(df.shape)
df.isna().sum()

(43860, 7)

Date             0
Campaign_Name    0
Platform         0
Impressions      0
Clicks           0
Conversions      0
Spend_USD        0
dtype: int64

In [90]:
df_3_filtered = df_3[
    (df_3['Audience'] == 'Leisure') &
    (df_3['Channel'] == 'Video') &
    (df_3['Month'] == "Feb") &
    (df_3["Market"]=="QAT") & 
    (df_3["Language"]=="AR")
]
df_3_filtered

,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Date,Planned_Daily_Budget_USD
59942,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2023-02-01,298.58
59943,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2023-02-02,232.03
59944,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2023-02-03,322.48
59945,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2023-02-04,145.86
59946,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2023-02-05,372.60
...,...,...,...,...,...,...,...,...,...,...
60668,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2025-01-27,113.17
60669,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2025-01-28,164.56
60670,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2025-01-29,421.35
60671,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2025-01-30,172.15
60672,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,2025-01-31,354.02

In [56]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

print("Min date:", df['Date'].min())
print("Max date:", df['Date'].max())
print("Unique dates count:", df['Date'].nunique())

full_range = pd.date_range(start=df['Date'].min(), end=df['Date'].max())
missing_dates = full_range.difference(df['Date'].dropna().unique())

print("Missing dates:")
print(missing_dates)

Min date: 2023-02-01 00:00:00
Max date: 2025-01-31 00:00:00
Unique dates count: 731
Missing dates:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [57]:
for platform in df['Platform'].unique():
    subset = df[df['Platform'] == platform]
    min_date = subset['Date'].min()
    max_date = subset['Date'].max()
    unique_days = subset['Date'].nunique()
    print(f"{platform}: {min_date.date()} → {max_date.date()} | Days: {unique_days}")

DV360: 2023-02-01 → 2025-01-31 | Days: 731
TikTok Ads: 2023-02-01 → 2025-01-31 | Days: 731
Snapchat Ads: 2023-02-01 → 2025-01-31 | Days: 731
YouTube Ads: 2023-02-01 → 2025-01-31 | Days: 731
Meta Ads: 2023-02-01 → 2025-01-31 | Days: 731
Google Ads: 2023-02-01 → 2025-01-31 | Days: 731

In [58]:
funnel = pd.melt(df,
    id_vars=['Date'],
    value_vars=['Impressions', 'Clicks', 'Conversions'],
    var_name='Stage',
    value_name='Value')
funnel.to_csv('funnel_ready.csv', index=False)

In [59]:
print(df["Campaign_Name"].unique())

['AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA'
 'AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED'
 'AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_DXB-JED'
 'AN_Intl_Booking_KSA_EN_Expats_Display_Jan_DXB-JED'
 'AN_Intl_Booking_UAE_EN_Expats_Display_Jan_CAI-DMM'
 'AN_Intl_Brand_EGY_EN_Expats_Search_Jan_NA'
 'AN_Domestic_Loyalty_KSA_EN_Expats_Social_Feb_NA'
 'AN_Intl_Brand_UAE_EN_Expats_Display_Jan_NA'
 'AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA'
 'AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA'
 'AN_Intl_Loyalty_UAE_AR_Business_Video_Jan_NA'
 'AN_Domestic_Booking_KSA_EN_Leisure_Search_Jan_AUH-DOH'
 'AN_Domestic_Loyalty_QAT_AR_Leisure_Display_Feb_NA'
 'AN_Domestic_Booking_KSA_EN_Expats_Video_Jan_RUH-CAI'
 'AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI'
 'AN_Domestic_Loyalty_QAT_EN_Expats_Search_Feb_NA'
 'AN_Domestic_Brand_EGY_AR_Locals_Search_Jan_NA'
 'AN_Intl_Loyalty_UAE_EN_Expats_Search_Feb_NA'
 'AN_Domestic_Booking_EGY_EN_Leisure_Video_Jan_CAI-DMM'
 'AN_Intl_Booking_QAT_AR_Expats_Search_Jan_DXB-JED'
 'AN_Domestic_Loyalty_KSA_AR_Business_Video_Feb_NA'
 'AN_Domestic_Loyalty_EGY_EN_Locals_Social_Jan_NA'
 'AN_Domestic_Brand_QAT_EN_Locals_Video_Feb_NA'
 'AN_Intl_Loyalty_KSA_AR_Locals_Social_Jan_NA'
 'AN_Domestic_Booking_EGY_AR_Expats_Social_Jan_RUH-CAI'
 'AN_Domestic_Brand_KSA_EN_Locals_Social_Jan_NA'
 'AN_Domestic_Brand_KSA_EN_Business_Video_Feb_NA'
 'AN_Domestic_Loyalty_EGY_EN_Business_Video_Feb_NA'
 'AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA'
 'AN_Intl_Brand_KSA_EN_Leisure_Display_Feb_NA'
 'AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA'
 'AN_Domestic_Brand_EGY_EN_Business_Video_Feb_NA'
 'AN_Domestic_Brand_KSA_AR_Locals_Display_Feb_NA'
 'AN_Intl_Loyalty_EGY_EN_Locals_Social_Feb_NA'
 'AN_Domestic_Booking_UAE_EN_Locals_Video_Feb_CAI-DMM'
 'AN_Intl_Booking_QAT_AR_Expats_Search_Jan_RUH-CAI'
 'AN_Intl_Loyalty_EGY_AR_Locals_Search_Feb_NA'
 'AN_Intl_Booking_EGY_AR_Expats_Social_Feb_AUH-DOH'
 'AN_Intl_Loyalty_EGY_AR_Leisure_Video_Jan_NA'
 'AN_Domestic_Booking_EGY_EN_Business_Search_Jan_CAI-DMM'
 'AN_Intl_Loyalty_KSA_EN_Leisure_Video_Jan_NA'
 'AN_Intl_Booking_UAE_EN_Locals_Video_Jan_AUH-DOH'
 'AN_Domestic_Loyalty_KSA_AR_Expats_Display_Jan_NA'
 'AN_Intl_Brand_QAT_AR_Locals_Video_Jan_NA'
 'AN_Domestic_Brand_QAT_EN_Business_Social_Jan_NA'
 'AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA']

In [60]:
import pandas as pd

count = df[df["Campaign_Name"].str.startswith("FA")].shape[0]
print("Number of rows starting with 'AN':", count)

Number of rows starting with 'AN': 0

In [62]:
df_2= pd.read_csv("data/savedData/datacleaned.csv")
df_2.head()

,Date,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,Pacing_Percent,CPA
0,2024-11-13,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,25928,1167,31,922.46,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,270.91,340.504226,29.756774
1,2024-04-04,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,3355,444,29,364.46,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,230.82,157.897929,12.567586
2,2023-07-24,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,14498,1965,61,1756.50,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,69.27,2535.729753,28.795082
3,2023-12-24,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,42839,5108,489,1562.77,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,94.70,1650.232313,3.195849
4,2024-05-12,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,9973,122,9,141.39,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,421.47,33.546872,15.710000

In [106]:
df_2= df_2.sort_values(by=['Company', 'Date']).reset_index(drop=True)
df_2.columns

Index(['Campaign_Name', 'Impressions', 'Clicks', 'Conversions', 'Spend_USD',
       'Company', 'BusinessUnit', 'Objective', 'Market', 'Language',
       'Audience', 'Channel', 'Month', 'Route', 'Validity',
       'Planned_Daily_Budget_USD', 'CPA', 'Pacing_Percent', 'CTR', 'CPC',
       'CPM', 'CVR', 'From_Country', 'To_Country'],
      dtype='object')

In [64]:
df_2.drop(columns=["Pacing_Percent"],inplace=True)

In [65]:
df_2['Pacing_Percent'] = df_2.apply(
    lambda row: (row['Spend_USD'] / row['Planned_Daily_Budget_USD']) * 100 
    if row['Planned_Daily_Budget_USD'] != 0 else None,
    axis=1
)

In [66]:
df_2['CTR'] = (df_2['Clicks'] / df_2['Impressions']) * 100

In [67]:
df_2['CPC'] = df_2.apply(
    lambda row: row['Spend_USD'] / row['Clicks'] if row['Clicks'] > 0 else 0,
    axis=1
)

In [68]:
df_2['CPM'] = df_2.apply(
    lambda row: (row['Spend_USD'] / row['Impressions']) * 1000 if row['Impressions'] > 0 else 0,
    axis=1
)

In [69]:
df_2['CVR'] = df_2.apply(
    lambda row: (row['Conversions'] / row['Clicks']) * 100 if row['Clicks'] > 0 else 0,
    axis=1
)

In [94]:
df_2[(df_2["Pacing_Percent"]<880) & (df_2["Pacing_Percent"]>879)]

,Date,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,CPA,Pacing_Percent,CTR,CPC,CPM,CVR
8,2023-02-01,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,28143,3807,138,2624.99,DV360,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,298.58,19.021667,879.158015,13.527343,0.689517,93.273283,3.624901
6965,2024-10-26,AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA,29755,2993,89,3275.30,DV360,Domestic,Loyalty,QAT,AR,Leisure,Social,Feb,NaN,True,372.46,36.801124,879.369597,10.058814,1.094320,110.075618,2.973605
7879,2025-01-17,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED,30124,3354,307,4267.19,DV360,Intl,Booking,EGY,AR,Locals,Display,Jan,DXB-JED,True,484.93,13.899642,879.959994,11.133980,1.272269,141.654163,9.153250
9349,2023-06-11,AN_Domestic_Booking_UAE_EN_Locals_Video_Feb_CA...,37437,1324,90,1020.29,Google,Domestic,Booking,UAE,EN,Locals,Video,Feb,CAI-DMM,True,116.00,11.336556,879.560345,3.536608,0.770612,27.253519,6.797583
11621,2024-01-25,AN_Intl_Loyalty_KSA_EN_Leisure_Video_Jan_NA,30401,3651,78,3339.17,Google,Intl,Loyalty,KSA,EN,Leisure,Video,Jan,NaN,True,379.59,42.809872,879.678074,12.009473,0.914591,109.837505,2.136401
13979,2024-09-16,AN_Domestic_Brand_KSA_EN_Business_Video_Feb_NA,40958,5888,432,1631.80,Google,Domestic,Brand,KSA,EN,Business,Video,Feb,NaN,True,185.53,3.777315,879.534307,14.375702,0.277140,39.840813,7.336957
15067,2025-01-03,AN_Domestic_Brand_EGY_AR_Locals_Search_Jan_NA,40911,4007,268,3599.76,Google,Domestic,Brand,EGY,AR,Locals,Search,Jan,NaN,True,409.21,13.431940,879.685247,9.794432,0.898368,87.990027,6.688295
15569,2023-02-20,AN_Intl_Loyalty_KSA_EN_Leisure_Video_Jan_NA,42649,4921,103,2862.09,Meta,Intl,Loyalty,KSA,EN,Leisure,Video,Jan,NaN,True,325.51,27.787282,879.263310,11.538371,0.581607,67.108021,2.093071
23619,2023-02-23,AN_Domestic_Booking_KSA_EN_Expats_Video_Jan_RU...,24946,2803,119,2760.75,Snapchat,Domestic,Booking,KSA,EN,Expats,Video,Jan,RUH-CAI,True,313.92,23.199580,879.443807,11.236270,0.984927,110.669045,4.245451
25414,2023-08-22,AN_Intl_Booking_QAT_AR_Expats_Search_Jan_DXB-JED,13348,1042,77,1394.24,Snapchat,Intl,Booking,QAT,AR,Expats,Search,Jan,DXB-JED,True,158.59,18.107013,879.147487,7.806413,1.338042,104.453102,7.389635
27276,2024-02-24,AN_Domestic_Brand_KSA_EN_Business_Video_Feb_NA,27213,3919,190,3367.08,Snapchat,Domestic,Brand,KSA,EN,Business,Video,Feb,NaN,True,382.93,17.721474,879.293866,14.401205,0.859168,123.730570,4.848176
32347,2023-07-15,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI,43884,2010,85,2256.24,TikTok,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,True,256.53,26.544000,879.522863,4.580257,1.122507,51.413727,4.228856
35502,2024-05-26,AN_Intl_Loyalty_UAE_EN_Expats_Search_Feb_NA,36563,4257,130,3158.34,TikTok,Intl,Loyalty,UAE,EN,Expats,Search,Feb,NaN,True,359.18,24.294923,879.319561,11.642918,0.741917,86.380767,3.053794
38148,2023-02-13,AN_Domestic_Brand_EGY_AR_Locals_Search_Jan_NA,37784,4904,113,3564.87,YouTube,Domestic,Brand,EGY,AR,Locals,Search,Jan,NaN,True,405.55,31.547522,879.021082,12.979039,0.726931,94.348666,2.304241
42387,2024-03-04,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI,34374,2907,164,2082.23,YouTube,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,True,236.88,12.696524,879.023134,8.456973,0.716281,60.575726,5.641555
44693,2024-09-30,AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA,12168,1391,39,1624.85,YouTube,Intl,Brand,UAE,AR,Business,Video,Feb,NaN,True,184.71,41.662821,879.676249,11.431624,1.168116,133.534681,2.803738
45185,2024-11-14,AN_Intl_Brand_KSA_EN_Leisure_Display_Feb_NA,49402,3655,320,3162.51,YouTube,Intl,Brand,KSA,EN,Leisure,Display,Feb,NaN,True,359.47,9.882844,879.770217,7.398486,0.865256,64.015829,8.755130

In [71]:
df_2.to_csv("df_2.csv")

In [72]:
print("Start date:", df_2['Date'].min())
print("End date:", df_2['Date'].max())

Start date: 2023-02-01
End date: 2025-01-31

In [73]:
df_3= pd.read_csv("data/Budget_Pacing.csv")

/tmp/ipykernel_1009300/1065454036.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3= pd.read_csv("data/Budget_Pacing.csv")

In [97]:
iata_to_country = {
    'DXB': 'United Arab Emirates',
    'AUH': 'United Arab Emirates',
    'DOH': 'Qatar',
    'JED': 'Saudi Arabia',
    'RUH': 'Saudi Arabia',
    'DMM': 'Saudi Arabia',
    'CAI': 'Egypt',
}

df_2[['Origin', 'Destination']] = df_2['Route'].str.split('-', expand=True)
df_2['From_Country'] = df_2['Origin'].map(iata_to_country)
df_2['To_Country'] = df_2['Destination'].map(iata_to_country)
df_2.drop(columns=['Origin', 'Destination'], inplace=True)

In [98]:
df_2

,Date,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,CPA,Pacing_Percent,CTR,CPC,CPM,CVR,From_Country,To_Country
0,2023-02-01,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED,37208,3033,248,974.99,DV360,Intl,Booking,EGY,AR,Locals,Display,Jan,DXB-JED,True,441.85,3.931411,220.660858,8.151473,0.321461,26.203773,8.176723,United Arab Emirates,Saudi Arabia
1,2023-02-01,AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA,27221,3034,166,2302.87,DV360,Domestic,Loyalty,QAT,AR,Leisure,Social,Feb,NaN,True,194.90,13.872711,1181.564905,11.145807,0.759021,84.599023,5.471325,NaN,NaN
2,2023-02-01,AN_Intl_Brand_UAE_EN_Expats_Display_Jan_NA,31513,3932,184,3253.49,DV360,Intl,Brand,UAE,EN,Expats,Display,Jan,NaN,True,448.57,17.682011,725.302628,12.477390,0.827439,103.242789,4.679552,NaN,NaN
3,2023-02-01,AN_Domestic_Loyalty_KSA_EN_Expats_Social_Feb_NA,10064,636,62,576.26,DV360,Domestic,Loyalty,KSA,EN,Expats,Social,Feb,NaN,True,172.01,9.294516,335.015406,6.319555,0.906069,57.259539,9.748428,NaN,NaN
4,2023-02-01,AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA,39584,2500,143,1194.36,DV360,Domestic,Brand,KSA,AR,Business,Social,Feb,NaN,True,218.00,8.352168,547.871560,6.315683,0.477744,30.172797,5.720000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46048,2025-01-31,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,2017,202,13,80.18,YouTube,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,354.02,6.167692,22.648438,10.014874,0.396931,39.752107,6.435644,NaN,NaN
46049,2025-01-31,AN_Domestic_Brand_EGY_AR_Locals_Search_Jan_NA,13158,770,24,600.92,YouTube,Domestic,Brand,EGY,AR,Locals,Search,Jan,NaN,True,58.01,25.038333,1035.890364,5.851953,0.780416,45.669555,3.116883,NaN,NaN
46050,2025-01-31,AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA,25190,3601,118,2474.63,YouTube,Intl,Brand,UAE,AR,Business,Video,Feb,NaN,True,109.18,20.971441,2266.559809,14.295355,0.687206,98.238587,3.276868,NaN,NaN
46051,2025-01-31,AN_Intl_Booking_UAE_EN_Expats_Display_Jan_CAI-DMM,45946,4314,308,5754.50,YouTube,Intl,Booking,UAE,EN,Expats,Display,Jan,CAI-DMM,True,419.65,18.683442,1371.261766,9.389283,1.333913,125.244853,7.139546,Egypt,Saudi Arabia
46052,2025-01-31,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI,47030,1057,25,625.27,YouTube,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,True,365.09,25.010800,171.264620,2.247502,0.591552,13.295131,2.365184,Saudi Arabia,Egypt

In [102]:
df_2.set_index("Date",inplace=True)

In [103]:
df_2.head()

,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,CPA,Pacing_Percent,CTR,CPC,CPM,CVR,From_Country,To_Country
Date,,,,,,,,,,,,,,,,,,,,,,,,
2023-02-01,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED,37208,3033,248,974.99,DV360,Intl,Booking,EGY,AR,Locals,Display,Jan,DXB-JED,True,441.85,3.931411,220.660858,8.151473,0.321461,26.203773,8.176723,United Arab Emirates,Saudi Arabia
2023-02-01,AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA,27221,3034,166,2302.87,DV360,Domestic,Loyalty,QAT,AR,Leisure,Social,Feb,NaN,True,194.90,13.872711,1181.564905,11.145807,0.759021,84.599023,5.471325,NaN,NaN
2023-02-01,AN_Intl_Brand_UAE_EN_Expats_Display_Jan_NA,31513,3932,184,3253.49,DV360,Intl,Brand,UAE,EN,Expats,Display,Jan,NaN,True,448.57,17.682011,725.302628,12.477390,0.827439,103.242789,4.679552,NaN,NaN
2023-02-01,AN_Domestic_Loyalty_KSA_EN_Expats_Social_Feb_NA,10064,636,62,576.26,DV360,Domestic,Loyalty,KSA,EN,Expats,Social,Feb,NaN,True,172.01,9.294516,335.015406,6.319555,0.906069,57.259539,9.748428,NaN,NaN
2023-02-01,AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA,39584,2500,143,1194.36,DV360,Domestic,Brand,KSA,AR,Business,Social,Feb,NaN,True,218.00,8.352168,547.871560,6.315683,0.477744,30.172797,5.720000,NaN,NaN

In [104]:
df_2.to_csv("df_2_with_from.csv")

In [109]:
import pandas as pd

def count_outliers_per_column(df, iqr_multiplier=1.5):
    """
    Returns a dictionary with numeric column names as keys
    and number of outliers (based on IQR) as values.
    """
    outlier_counts = {}
    numeric_cols = df.select_dtypes(include='number').columns

    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - iqr_multiplier * IQR
        upper = Q3 + iqr_multiplier * IQR
        outliers = (df[col] < lower) | (df[col] > upper)
        outlier_counts[col] = outliers.sum()

    return outlier_counts

In [111]:
df_2.isna().sum()

Campaign_Name                   0
Impressions                     0
Clicks                          0
Conversions                     0
Spend_USD                       0
Company                         0
BusinessUnit                    0
Objective                       0
Market                          0
Language                        0
Audience                        0
Channel                         0
Month                           0
Route                       30702
Validity                        0
Planned_Daily_Budget_USD      731
CPA                            39
Pacing_Percent                731
CTR                             0
CPC                             0
CPM                             0
CVR                             0
From_Country                30702
To_Country                  30702
dtype: int64

In [118]:
df_2[df_2['Planned_Daily_Budget_USD'].isna()]

,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,CPA,Pacing_Percent,CTR,CPC,CPM,CVR,From_Country,To_Country
8045,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,30114,4317,360,1700.15,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,4.722639,NaN,14.335525,0.393827,56.457130,8.339124,NaN,NaN
8057,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,23321,3070,290,3829.54,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,13.205310,NaN,13.164101,1.247407,164.209940,9.446254,NaN,NaN
8063,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,38519,960,62,283.93,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,4.579516,NaN,2.492277,0.295760,7.371167,6.458333,NaN,NaN
8076,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,42551,4591,319,1033.72,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,3.240502,NaN,10.789406,0.225162,24.293671,6.948377,NaN,NaN
8090,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,46908,2107,191,1991.57,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,10.427068,NaN,4.491771,0.945216,42.456937,9.065021,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15302,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,35045,678,55,329.26,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,5.986545,NaN,1.934655,0.485634,9.395349,8.112094,NaN,NaN
15312,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,9369,1148,35,1122.79,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,32.079714,NaN,12.253175,0.978040,119.840965,3.048780,NaN,NaN
15328,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,49652,5685,180,7235.02,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,40.194556,NaN,11.449690,1.272651,145.714573,3.166227,NaN,NaN
15334,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,8897,890,60,930.09,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,15.501500,NaN,10.003372,1.045045,104.539732,6.741573,NaN,NaN
15346,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,22827,645,25,648.03,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,25.921200,NaN,2.825601,1.004698,28.388750,3.875969,NaN,NaN

In [117]:
df_3.head()

,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Date,Planned_Daily_Budget_USD
0,Intl,Loyalty,QAT,AR,Expats,Search,Jan,NaN,2023-02-01,158.48
1,Intl,Loyalty,QAT,AR,Expats,Search,Jan,NaN,2023-02-02,387.81
2,Intl,Loyalty,QAT,AR,Expats,Search,Jan,NaN,2023-02-03,77.91
3,Intl,Loyalty,QAT,AR,Expats,Search,Jan,NaN,2023-02-04,253.38
4,Intl,Loyalty,QAT,AR,Expats,Search,Jan,NaN,2023-02-05,489.26

In [115]:
df_3.isna().sum()

BusinessUnit                    0
Objective                       0
Market                          0
Language                        0
Audience                        0
Channel                         0
Month                           0
Route                       46053
Date                            0
Planned_Daily_Budget_USD        0
dtype: int64

In [120]:
df_4= pd.read_csv("data/Budget_Pacing.csv")
df_4.isna().sum()

/tmp/ipykernel_1009300/1205526952.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_4= pd.read_csv("data/Budget_Pacing.csv")

BusinessUnit                    0
Objective                       0
Market                          0
Language                        0
Audience                        0
Channel                         0
Month                           0
Route                       46053
Date                            0
Planned_Daily_Budget_USD        0
dtype: int64

In [122]:
df_4["Route"].unique()

array([nan, 'DXB-JED', 'CAI-DMM', 'RUH-CAI', 'AUH-DOH'], dtype=object)

In [124]:
df_5= pd.read_csv("data/savedData/datacleaned.csv")
df_5.isna().sum()

Date                            0
Campaign_Name                   0
Impressions                     0
Clicks                          0
Conversions                     0
Spend_USD                       0
Company                         0
BusinessUnit                    0
Objective                       0
Market                          0
Language                        0
Audience                        0
Channel                         0
Month                           0
Route                       30702
Validity                        0
Planned_Daily_Budget_USD      731
Pacing_Percent                731
CPA                            39
dtype: int64

In [126]:
df_5[df_5['CPA'].isna()]

,Date,Campaign_Name,Impressions,Clicks,Conversions,Spend_USD,Company,BusinessUnit,Objective,Market,Language,Audience,Channel,Month,Route,Validity,Planned_Daily_Budget_USD,Pacing_Percent,CPA
8,2024-01-06,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,1452,21,0,8.88,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,439.39,2.020984,NaN
1377,2024-08-27,AN_Domestic_Booking_EGY_AR_Expats_Social_Jan_R...,1347,22,0,9.27,Snapchat,Domestic,Booking,EGY,AR,Expats,Social,Jan,RUH-CAI,True,147.86,6.269444,NaN
2307,2024-03-17,AN_Domestic_Booking_EGY_AR_Expats_Social_Jan_R...,1156,25,0,34.43,Snapchat,Domestic,Booking,EGY,AR,Expats,Social,Jan,RUH-CAI,True,55.34,62.215396,NaN
4126,2024-07-06,AN_Intl_Loyalty_EGY_AR_Locals_Search_Feb_NA,1082,12,0,16.86,Meta,Intl,Loyalty,EGY,AR,Locals,Search,Feb,NaN,True,51.39,32.807939,NaN
4279,2023-05-11,AN_Intl_Loyalty_KSA_AR_Locals_Social_Jan_NA,1338,27,0,21.36,Snapchat,Intl,Loyalty,KSA,AR,Locals,Social,Jan,NaN,True,60.78,35.143139,NaN
5220,2023-02-12,AN_Domestic_Booking_EGY_EN_Leisure_Video_Jan_C...,1389,24,0,32.67,TikTok,Domestic,Booking,EGY,EN,Leisure,Video,Jan,CAI-DMM,True,370.19,8.825198,NaN
6437,2023-04-15,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,1719,17,0,15.22,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,334.62,4.548443,NaN
6494,2023-02-15,AN_Domestic_Loyalty_QAT_AR_Leisure_Social_Feb_NA,2500,40,0,43.54,DV360,Domestic,Loyalty,QAT,AR,Leisure,Social,Feb,NaN,True,81.32,53.541564,NaN
6651,2024-05-27,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED,2378,44,0,49.66,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,DXB-JED,True,100.85,49.241448,NaN
6983,2023-03-15,AN_Domestic_Loyalty_KSA_AR_Business_Video_Feb_NA,1085,25,0,14.14,Snapchat,Domestic,Loyalty,KSA,AR,Business,Video,Feb,NaN,True,311.19,4.543848,NaN
8376,2023-07-06,AN_Domestic_Brand_QAT_EN_Business_Social_Jan_NA,1202,27,0,8.17,Google,Domestic,Brand,QAT,EN,Business,Social,Jan,NaN,True,269.67,3.029629,NaN
8417,2024-07-07,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,1241,22,0,17.23,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,NaN,NaN
12500,2023-03-30,AN_Intl_Booking_QAT_AR_Locals_Social_Feb_RUH-CAI,1305,13,0,16.83,TikTok,Intl,Booking,QAT,AR,Locals,Social,Feb,RUH-CAI,True,473.29,3.555959,NaN
12649,2024-03-28,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA,1598,35,0,25.01,YouTube,Intl,Brand,UAE,AR,Leisure,Search,Jan,NaN,True,300.63,8.319196,NaN
13575,2024-09-12,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,1218,16,0,11.34,YouTube,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,139.43,8.133113,NaN
13741,2024-02-21,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,1242,14,0,7.55,DV360,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,345.82,2.183217,NaN
16924,2024-07-13,AN_Intl_Brand_KSA_EN_Leisure_Display_Feb_NA,1004,15,0,16.09,Meta,Intl,Brand,KSA,EN,Leisure,Display,Feb,NaN,True,244.88,6.570565,NaN
19223,2023-12-30,AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA,1069,15,0,22.38,YouTube,Intl,Brand,UAE,AR,Business,Video,Feb,NaN,True,114.17,19.602347,NaN
20236,2024-09-16,AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA,1777,33,0,30.86,DV360,Domestic,Brand,KSA,AR,Business,Social,Feb,NaN,True,477.16,6.467432,NaN
22947,2023-11-13,AN_Intl_Brand_UAE_AR_Leisure_Search_Jan_NA,1008,33,0,28.64,YouTube,Intl,Brand,UAE,AR,Leisure,Search,Jan,NaN,True,141.97,20.173276,NaN
23391,2023-09-29,AN_Intl_Booking_QAT_AR_Expats_Search_Jan_RUH-CAI,1059,10,0,8.02,Meta,Intl,Booking,QAT,AR,Expats,Search,Jan,RUH-CAI,True,159.90,5.015635,NaN
24044,2023-08-21,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,1555,34,0,12.25,DV360,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,132.89,9.218150,NaN
25493,2023-03-27,AN_Domestic_Brand_KSA_AR_Business_Social_Feb_NA,2518,27,0,13.45,TikTok,Domestic,Brand,KSA,AR,Business,Social,Feb,NaN,True,164.43,8.179773,NaN
28436,2023-12-30,AN_Intl_Brand_UAE_AR_Business_Video_Feb_NA,1069,15,0,22.38,YouTube,Intl,Brand,UAE,AR,Business,Video,Feb,NaN,True,394.41,5.674298,NaN
28744,2024-03-17,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_NA,1677,27,0,37.77,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,NaN,True,NaN,NaN,NaN
32070,2025-01-07,AN_Intl_Loyalty_EGY_EN_Locals_Social_Feb_NA,2649,31,0,44.80,YouTube,Intl,Loyalty,EGY,EN,Locals,Social,Feb,NaN,True,151.11,29.647277,NaN
32415,2024-02-05,AN_Domestic_Booking_UAE_EN_Locals_Video_Feb_CA...,1121,24,0,25.80,Meta,Domestic,Booking,UAE,EN,Locals,Video,Feb,CAI-DMM,True,86.26,29.909576,NaN
33135,2024-06-01,AN_Intl_Booking_UAE_EN_Expats_Display_Jan_CAI-DMM,2288,32,0,34.29,DV360,Intl,Booking,UAE,EN,Expats,Display,Jan,CAI-DMM,True,57.79,59.335525,NaN
34839,2023-08-25,AN_Intl_Loyalty_QAT_AR_Leisure_Video_Feb_NA,1810,18,0,19.13,YouTube,Intl,Loyalty,QAT,AR,Leisure,Video,Feb,NaN,True,179.81,10.639008,NaN
37290,2024-01-14,AN_Intl_Booking_QAT_AR_Expats_Search_Jan_DXB-JED,1290,13,0,15.09,Snapchat,Intl,Booking,QAT,AR,Expats,Search,Jan,DXB-JED,True,116.17,12.989584,NaN
38130,2024-04-25,AN_Domestic_Booking_KSA_EN_Expats_Video_Jan_RU...,1217,36,0,53.21,Snapchat,Domestic,Booking,KSA,EN,Expats,Video,Jan,RUH-CAI,True,359.31,14.808939,NaN
40431,2024-10-12,AN_Domestic_Booking_KSA_EN_Expats_Search_Jan_D...,1440,21,0,10.63,DV360,Domestic,Booking,KSA,EN,Expats,Search,Jan,DXB-JED,True,305.27,3.482163,NaN
41018,2023-12-12,AN_Domestic_Booking_KSA_EN_Expats_Video_Jan_RU...,1434,26,0,31.30,TikTok,Domestic,Booking,KSA,EN,Expats,Video,Jan,RUH-CAI,True,320.74,9.758683,NaN
41567,2024-06-10,AN_Intl_Booking_EGY_AR_Locals_Display_Jan_DXB-JED,1066,18,0,24.60,Google,Intl,Booking,EGY,AR,Locals,Display,Jan,DXB-JED,True,168.74,14.578642,NaN
42704,2024-04-29,AN_Intl_Loyalty_EGY_AR_Locals_Search_Feb_NA,1837,18,0,13.88,Meta,Intl,Loyalty,EGY,AR,Locals,Search,Feb,NaN,True,369.31,3.758360,NaN
43761,2023-07-19,AN_Domestic_Brand_KSA_EN_Locals_Social_Jan_NA,1136,24,0,11.67,Snapchat,Domestic,Brand,KSA,EN,Locals,Social,Jan,NaN,True,415.90,2.805963,NaN
44593,2024-03-30,AN_Intl_Booking_QAT_AR_Expats_Search_Jan_RUH-CAI,1521,19,0,22.67,Meta,Intl,Booking,QAT,AR,Expats,Search,Jan,RUH-CAI,True,217.55,10.420593,NaN
45335,2024-12-30,AN_Domestic_Brand_EGY_AR_Locals_Search_Jan_NA,1307,31,0,33.45,Google,Domestic,Brand,EGY,AR,Locals,Search,Jan,NaN,True,435.38,7.682944,NaN
45507,2024-07-28,AN_Domestic_Loyalty_EGY_EN_Business_Video_Feb_NA,1289,21,0,19.39,Meta,Domestic,Loyalty,EGY,EN,Business,Video,Feb,NaN,True,291.72,6.646785,NaN